<% layout('layouts/boilerplate')%>
    <form action="/campgrounds" methods="POST">
        <div>
            <label class="form-label" for="record">Record</label>
            <input  class="form-control" type="text" id="record" name="records[record]">
        </div>
        <div>
            <label  class="form-label" for="location">Location</label>
            <input  class="form-control"  id="location"  name="records[location]">
        </div>
        <button>Add Donor </button>
    </form>
    <a href="/records">All Records</a>